.ct-toast {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    color: #000;
    border-radius: 4px;
    margin: 0px;
    opacity: 1;
    transition: 0.3s all ease-in-out;
    min-height: 60px;
    min-width: 260px;
    pointer-events: all;
}